<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Book</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>
  <header>
    <h1>Add a New Book</h1>
  </header>

  <main>
    <section class="form-section">
      <form method="post" action="/add" class="add-book-form">
        <input type="text" placeholder="Enter Book Title" name="title" id="title" required>
        <input type="text" placeholder="Enter Book Description" name="description" id="description" required>
        <input type="number" placeholder="Enter Book ISBN" name="ISBN" id="ISBN" required>
        <textarea placeholder="Enter Book Notes" name="notes" id="notes" rows="5" required></textarea>
        <input type="number" placeholder="Enter Book rating" name="rating" id="rating" >
        <input type="date" name="date" id="date">
        <button type="submit">Submit</button>
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Prem Patel. All rights reserved.</p>
  </footer>
</body>
</html>
